<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Administrar <b>Usuarios</b></h2>
          </div>
          <div class="col-sm-6">
            <a
              href="#addEmployeeModal"
              class="btn btn-success"
              data-toggle="modal"
              ><i class="material-icons">&#xE147;</i>
              <span>Añadir nuevo usuario</span></a
            >
            <a
              href="#deleteEmployeeModal"
              class="btn btn-danger"
              data-toggle="modal"
              ><i class="material-icons">&#xE15C;</i> <span>Eliminar</span></a
            >
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>
              <span class="custom-checkbox">
                <input type="checkbox" id="selectAll" />
                <label for="selectAll"></label>
              </span>
            </th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Poder</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span class="custom-checkbox">
                <input
                  type="checkbox"
                  id="checkbox1"
                  name="options[]"
                  value="1"
                />
                <label for="checkbox1"></label>
              </span>
            </td>
            <td>Thomas Hardy</td>
            <td>thomashardy@mail.com</td>
            <td>Administrador</td>
            <td>
              <a href="#editEmployeeModal" class="edit" data-toggle="modal"
                ><i class="material-icons" data-toggle="tooltip" title="Edit"
                  >&#xE254;</i
                ></a
              >
              <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"
                ><i class="material-icons" data-toggle="tooltip" title="Delete"
                  >&#xE872;</i
                ></a
              >
            </td>
          </tr>
          <tr>
            <td>
              <span class="custom-checkbox">
                <input
                  type="checkbox"
                  id="checkbox2"
                  name="options[]"
                  value="1"
                />
                <label for="checkbox2"></label>
              </span>
            </td>
            <td>Dominique Perrier</td>
            <td>dominiqueperrier@mail.com</td>
            <td>Usuario</td>
            <td>
              <a href="#editEmployeeModal" class="edit" data-toggle="modal"
                ><i class="material-icons" data-toggle="tooltip" title="Edit"
                  >&#xE254;</i
                ></a
              >
              <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"
                ><i class="material-icons" data-toggle="tooltip" title="Delete"
                  >&#xE872;</i
                ></a
              >
            </td>
          </tr>
          <tr>
            <td>
              <span class="custom-checkbox">
                <input
                  type="checkbox"
                  id="checkbox3"
                  name="options[]"
                  value="1"
                />
                <label for="checkbox3"></label>
              </span>
            </td>
            <td>Maria Anders</td>
            <td>mariaanders@mail.com</td>
            <td>Usuario</td>
            <td>
              <a href="#editEmployeeModal" class="edit" data-toggle="modal"
                ><i class="material-icons" data-toggle="tooltip" title="Edit"
                  >&#xE254;</i
                ></a
              >
              <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"
                ><i class="material-icons" data-toggle="tooltip" title="Delete"
                  >&#xE872;</i
                ></a
              >
            </td>
          </tr>
          <tr>
            <td>
              <span class="custom-checkbox">
                <input
                  type="checkbox"
                  id="checkbox4"
                  name="options[]"
                  value="1"
                />
                <label for="checkbox4"></label>
              </span>
            </td>
            <td>Fran Wilson</td>
            <td>franwilson@mail.com</td>
            <td>Usuario</td>
            <td>
              <a href="#editEmployeeModal" class="edit" data-toggle="modal"
                ><i class="material-icons" data-toggle="tooltip" title="Edit"
                  >&#xE254;</i
                ></a
              >
              <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"
                ><i class="material-icons" data-toggle="tooltip" title="Delete"
                  >&#xE872;</i
                ></a
              >
            </td>
          </tr>
          <tr>
            <td>
              <span class="custom-checkbox">
                <input
                  type="checkbox"
                  id="checkbox5"
                  name="options[]"
                  value="1"
                />
                <label for="checkbox5"></label>
              </span>
            </td>
            <td>Martin Blank</td>
            <td>martinblank@mail.com</td>
            <td>Usuario</td>
            <td>
              <a href="#editEmployeeModal" class="edit" data-toggle="modal"
                ><i class="material-icons" data-toggle="tooltip" title="Edit"
                  >&#xE254;</i
                ></a
              >
              <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"
                ><i class="material-icons" data-toggle="tooltip" title="Delete"
                  >&#xE872;</i
                ></a
              >
            </td>
          </tr>
        </tbody>
      </table>
      <div class="clearfix">
        <div class="hint-text">Mostrando <b>5</b> de <b>25</b> registros</div>
        <ul class="pagination">
          <li class="page-item disabled"><a href="#">Anterior</a></li>
          <li class="page-item"><a href="#" class="page-link">1</a></li>
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item active">
            <a href="#" class="page-link">3</a>
          </li>
          <li class="page-item"><a href="#" class="page-link">4</a></li>
          <li class="page-item"><a href="#" class="page-link">5</a></li>
          <li class="page-item">
            <a href="#" class="page-link">Siguiente</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Edit Modal HTML -->
<div id="addEmployeeModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Añadir usuario</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" required />
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" required />
          </div>
          <div class="form-group">
            <label>Poder: </label>
            <select class="form-select" id="validationCustom03" required>
              <option selected disabled value=""></option>
              <option>Administrador</option>
              <option>Usuario</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <input
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            value="Cancel"
          />
          <input type="submit" class="btn btn-success" value="Add" />
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Edit Modal HTML -->
<div id="editEmployeeModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Editar usuario</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" required />
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" required />
          </div>
          <div class="form-group">
            <label>Poder: </label>
            <select class="form-select" id="validationCustom04" required>
              <option selected disabled value=""></option>
              <option>Administrador</option>
              <option>Usuario</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <input
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            value="Cancel"
          />
          <input type="submit" class="btn btn-info" value="Save" />
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Eliminar usuario</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <p>¿Estás seguro de que quieres eliminarlo?</p>
          <p class="text-warning">
            <small>Esta acción no se puede deshacer.</small>
          </p>
        </div>
        <div class="modal-footer">
          <input
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            value="Cancel"
          />
          <input type="submit" class="btn btn-danger" value="Delete" />
        </div>
      </form>
    </div>
  </div>
</div>

