<!-- Masthead-->
<header class="masthead">
  <div class="container position-relative">
    <div class="row justify-content-center">
      <div class="col-xl-6">
        <div class="text-center text-white">
          <!-- Page heading-->
          <h1 class="mb-5">
            Personaliza tu colección, mejora tu comunicación!
          </h1>
          <div class="row justify-content-center">
            <div class="col-auto">
              <button
                [routerLink]="'/login'"
                class="btn btn-warning"
                type="submit"
              >
                Entrar
              </button>
              <button
                [routerLink]="'/register'"
                class="btn mx-3 btn-warning"
                type="submit"
              >
                Registrarse
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Icons Grid-->
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="bi-person-square m-auto text-warning"></i>
          </div>
          <h3>Alta resolución</h3>
          <p class="lead mb-0">Pictogramas claros y de alta calidad.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="bi-volume-up m-auto text-warning"></i>
          </div>
          <h3>Audio disponible</h3>
          <p class="lead mb-0">
            Reproduce a voz los pictogramas que necesitas.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="bi-star m-auto text-warning"></i>
          </div>
          <h3>Guarda tus Favoritos</h3>
          <p class="lead mb-0">
            Crea tu propia colección y tenlos disponibles al instante.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Image Showcases-->
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row g-0">
      <div
        class="col-lg-6 order-lg-2 text-white showcase-img"
        style="background-image: url('/assets/img/27685_500.png')"
      ></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>
          ¿Qué son los Sistemas Aumentativos y Alternativos de Comunicación
          (SAAC)?
        </h2>
        <p class="lead mb-0">
          Los Sistemas Aumentativos y Alternativos de Comunicación (SAAC) son
          formas de expresión diferentes del lenguaje hablado que tienen como
          objetivo aumentar el nivel de expresión (aumentativo) y/o compensar
          (alternativo) las dificultades de comunicación que presentan algunas
          personas en este área.
        </p>
      </div>
    </div>
    <div class="row g-0">
      <div
        class="col-lg-6 text-white showcase-img"
        style="background-image: url('/assets/img/5971_500.png')"
      ></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>Productos de apoyo para la comunicación</h2>
        <p class="lead mb-0">
          Podemos dividir los productos de apoyo para la comunicación en básicos
          y tecnológicos. Los tableros de comunicación son productos de apoyo
          básicos. Los comunicadores electrócnicos disponen de una salida para
          los mensajes en forma de habla digitalizada
        </p>
      </div>
    </div>
    <div class="row g-0">
      <div
        class="col-lg-6 order-lg-2 text-white showcase-img"
        style="background-image: url('/assets/img/15018_500.png')"
      ></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>¿Qué recursos se utilizan?</h2>
        <p class="lead mb-0">
          La Comunicación Aumentativa y Alternativa incluye diversos sistemas de
          símbolos, tanto gráficos (fotografías, dibujos, pictogramas, palabras
          o letras) como gestuales (mímica, gestos o signos manuales) y, en el
          caso de los primeros, requiere también el uso de productos de apoyo.
        </p>
      </div>
    </div>
  </div>
</section>
