<div class="container2 container mt-5">
  <form [formGroup]="formReg" (ngSubmit)="onSubmit()">
    <p class="text-center">Crea una cuenta de usuario:</p>
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" class="form-control" formControlName="email" />
      <label class="form-label">Email</label>
    </div>

    <div class="form-outline mb-4">
      <input type="password" class="form-control" formControlName="password" />
      <label class="form-label">Contraseña</label>
    </div>

    <button type="submit" class="btn btn-warning btn-block mb-4">
      Registrar cuenta
    </button>
  </form>
</div>
